%article.articles-list
  - articles.each_with_index do |article, i|
    .entry
      .info
        %h4= link_to(article.data.category_name && "#{article.data.category_name}: #{article.title}" || article.title, article)

        .announce= article.data.announce
      .date
        = I18n.l(article.date, format: '%d %B %Y')

