%article.articles-list
  - articles.each_with_index do |article, i|
    .entry
      .info
        %h4= link_to(article.data.category_name && "#{article.data.category_name}: #{article.title}" || article.title, article)

        .announce= article.data.announce

        - if show_comments
          %span.comments
            =link_to  "нет комментариев", "#{disqus_url(article)}#disqus_thread", class: old_article?(article) && "old"
      .date
        = Russian::strftime(article.date, '%d %b %Y')

