%article.books-list
  - page_articles.each_with_index do |article, i|
    .book
      %a{href: article.url}
        = image_tag "images/books/#{article.metadata[:page]['image']}"

        .title= article.title


.pagination
  - if paginate && num_pages > 1
    - if prev_page
      = link_to 'Предыдущая страница', prev_page, nil, class: 'prev'
    - else
      .prev

  - if paginate
    - if next_page
      = link_to 'Следующая страница', next_page, nil, class: 'next'
    - else
      .next
