!!!
%html{dir: "ltr", lang: "ru-RU"}
  = partial "shared/head"
  %body
    = partial "shared/header"

    %section#single-column
      %article
        = yield

      = partial "shared/footer"
    = partial "shared/js"